.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // margin-bottom: 20px;
  height: 100%;

  background-image: url(../../../assets/img/grass.jpg);
}

.selectSection {
  max-width: 600px;
  min-width: 400px;

  background-color: #fcfcfc;

  @media screen and (max-width: 500px) {
    max-width: 300px;
    min-width: 250px;
    padding: 0 10px;
  }
}

.active {
  margin: 50px 0;
  padding: 20px 0;

  // @media screen and (max-width: 500px) {
  //   margin: 0;
  //   padding: 0;
  // }
}

.title {
  margin: 10px 0 10px;
  font-weight: 500;

  @media screen and (max-width: 500px) {
    font-size: 17px;
  }
}

.span {
  font-weight: 600;
}

.linkToCatalog {
  background-color: #3f51b5;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 200px;
  min-width: 120px;

  &:hover {
    background-color: #303f9f;
  }

  @media screen and (max-width: 500px) {
    font-size: 15px;
    // margin-top: 5px;
  }
}

.errorText {
  padding: 20px;
}
