.container {
  margin-top: 40px;
  width: 70%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    background-color: #e3e3e3;
    order: 1;
    margin-top: 10px;
  }
}

.thead {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.containerFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media screen and (max-width: 500px) {
    padding: 5px 15px 10px;
    margin: 0;
  }
}

.table {
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

.th {
  background-color: #828282;
  color: #fff;
  text-shadow: 0 2px 2px #2d2020;
  padding: 10px 20px;

  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  overflow-x: hidden;

  // @media screen and (max-width: 500px) {
  //   padding: 10px 5px;
  //   font-size: 15px;
  //   word-wrap: break-word;
  // }

  &:first-child {
    text-align: left;
    border-top-left-radius: 10px;
    min-width: 100px;

    // @media screen and (max-width: 500px) {
    //   min-width: 20px;
    // }
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-right: none;
  }
}

.titlePesticides {
  font-weight: 500;

  @media screen and (max-width: 500px) {
    font-size: 20px;
    color: #5c5c5c;
  }
}
