.image {
  width: 170px;

  @media screen and (max-width: 1024px) {
    width: 140px;
  }

  @media screen and (max-width: 500px) {
    width: 100px;
  }

  @media screen and (max-width: 375px) {
    width: 80px;
  }
}
